@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --tomato: hsl(4, 100%, 67%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: var(--charcoal-grey);
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(172, 45%, 44%);
}

.hide {
    display: none !important;
}

.signUp {
    background: var(--white);
    border-radius: .6rem;
    display: flex;
    max-width: 900px;
}

.left {
    padding: 3rem .5rem 0 3rem;
    margin-top: 3rem;
}

.left h1 {
    font-size: 2.5rem;
    color: var(--charcoal-grey);
    margin-bottom: 1rem;
}

.left article {
    margin-top: 1.5rem;
}

.left div {
    display: flex;
    align-items: center;
    gap: .75rem;
    margin-bottom: .75rem;
}

.left form {
    margin-top: 5rem;
    width: 350px;
}

.left form .fTxt {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    font-weight: 700;
}

.left form label {
    color: var(--charcoal-grey);
    font-size: .9rem;
}

.errMsg {
    font-size: .8rem;
    color: hsl(4, 100%, 67%);
}

.left form input,
button {
    width: 100%;
    height: 45px;
    border-radius: .5rem;
    outline: none;
    transition: all .25s linear;
}

.left form input {
    border: 1px solid var(--charcoal-grey);
    padding: 0 1rem;
}

.left form input:focus {
    cursor: pointer;
}

.left form button {
    font-size: .8rem;
    font-weight: 700;
    color: #fff;
    border: none;
    background: var(--dark-slate-grey);
    margin-top: .75rem;
    padding: 0 1rem;
}

.left form button:hover {
    background: var(--tomato);
    cursor: pointer;
}

.right {
    padding: 1.25rem;
}

.mobImg {
    display: none;
}

.successMsg {
    background: var(--white);
    border-radius: .6rem;
    max-width: 400px;
    flex-direction: column;
    place-items: center;
    padding: 3rem;
}

.successMsg img {
    align-self: flex-start;
    width: 15%;
    margin-bottom: 1.5rem;
}

.successMsg h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--charcoal-grey);
    margin-bottom: 1.5rem;
}

.successMsg p {
    font-size: .9rem;
    font-weight: 400;
    color: var(--charcoal-grey);
    margin-bottom: 1.5rem;
}

.successMsg p span {
    font-weight: 700;
}

.successMsg button {
    width: 100%;
    height: 45px;
    color: #fff;
    background: var(--dark-slate-grey);
    border: none;
    font-weight: 700;
    border-radius: .6rem;
    transition: all .25s linear;
}

.successMsg button:hover {
    background: var(--tomato);
    cursor: pointer;
}

@media (max-width:992px) {
    body {
        background: none;
    }

    .signUp {
        flex-direction: column-reverse;
    }

    .left {
        padding: 1.5rem;
        margin-top: 1rem;
    }

    .left h1 {
        font-size: 2.5rem;
        color: var(--charcoal-grey);
    }

    .left p {
        margin-top: 1rem;
        margin-bottom: 1.25rem;
    }

    .left div {
        margin-bottom: 1rem;
    }

    .left form {
        width: 100%;
        margin-top: 2.5rem;
    }

    .right {
        padding: 0rem;
        display: flex;
        justify-content: center;
    }

    .successMsg {
        padding: 1.5rem;
    }

    .successMsg button {
        margin-top: 10rem;
    }
}

@media (max-width:768px) {
    .mobImg {
        display: block;
        width: 100%;
    }

    .deskImg {
        display: none;
    }
}